<%
def color(id)
  case id % 5
    when 4
      "border-yellow-800 bg-yellow-100"
    when 3
      "border-blue-800 bg-blue-100"
    when 2
      "border-green-800 bg-green-100"
    when 1
      "border-red-800 bg-red-100"
    when 1
      "border-orange-800 bg-orange-100"
    else
      "border-gray-800 bg-gray-100"
  end
end
%>
<div class="max-w-3xl mx-auto">
  <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
    <% if current_user.present? %>
    You are rakshaka no: <%= current_user.volunteer&.id %>
    <% else %>
    Volunteer Call
    <% end %>
  </div>
</div>

<%
  @districts ||= District.includes(:reports).all
  @district_reports ||= District.includes(:reports).all.map { |d| d.reports.order(:created_at).last }
%>
<div class="max-w-3xl mx-auto">
  <div class="mt-4">
    <% News.all.reverse.each do |news| %>
    <div class="w-full p-4">
      <div class="p-4 border-2 rounded-lg px-4 py-6 md:px-6 rounded shadow <%=color(news.id) %>">
        <div class="font-semibold text-md md:text-3xl">
          <%= news.title %>
        </div>
        <div>
          <a class="font-semibold" href="https://volunteer.coronasafe.network/<%=news.slug%>">
            https://volunteer.coronasafe.network/<%=news.slug%>
          </a>
        </div>
        <% if news.description.present? %>
        <div class="text-md md:text-lg">
          <p class="mt-4">
            <%= simple_format(news.description) %>
          </p>
        </div>
        <% end%>
        <div>
          <a href=<%= news.link %> target="_blank" class="btn-primary btn mt-4 ">Know More
          </a>
        </div>
      </div>

    </div>
    <%end%>
    <div class="p-6">
      <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
        Current Status In Kerala
      </div>
      <div class="font-bold text-xl">
        Here is the current live situation of our state's Health care system
      </div>
      <div class="font-semibold text-xl my-4">
        Details of persons under surveillance
      </div>
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr class="white border">
                <th class="border px-4 py-2">No</th>
                <th class="border px-4 py-2">District</th>
                <th class="border px-4 py-2">Total people under observation</th>
                <th class="border px-4 py-2">People under Home Isolation</th>
                <th class="border px-4 py-2">people Hospitalised</th>
                <th class="border px-4 py-2">Total people Hospitalised Today</th>
              </tr>
            </thead>
            <tbody>
              <% @districts.each_with_index do |district, index| %>
              <% report = district.reports.order(:created_at).last %>
              <tr>
                <td class="border px-4 py-2"><%= index + 1 %></td>
                <td class="border px-4 py-2"><%= district.name %></td>
                <td class="border px-4 py-2"><%= report.under_observation %></td>
                <td class="border px-4 py-2"><%= report.under_home_isolation %></td>
                <td class="border px-4 py-2"><%= report.total_hospitalised %></td>
                <td class="border px-4 py-2"><%= report.hospitalised_today %></td>
              </tr>
              <% end %>
              <tr>
                <td class="border font-semibold px-4 py-2"></td>
                <td class="border font-semibold px-4 py-2">Total</td>
                <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:under_observation).sum %></td>
                <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:under_home_isolation).sum %></td>
                <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:total_hospitalised).sum %></td>
                <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:hospitalised_today).sum %></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="mt-4">
        <div class="font-semibold text-xl my-4">
          Chronology of Positive Cases
        </div>
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full">
              <thead>
                <tr class="white border">
                  <th class="border px-4 py-2">District</th>
                  <th class="border px-4 py-2">Corona Positive</th>
                  <th class="border px-4 py-2">Cured / Discharged</th>
                  <th class="border px-4 py-2">Deaths</th>
                </tr>
              </thead>
              <tbody>
                <% @districts.each do |district| %>
                <% report = district.reports.order(:created_at).last %>
                <% next if report.corona_positive.zero? %>
                <tr>
                  <td class="border px-4 py-2"><%= district.name %></td>
                  <td class="border px-4 py-2"><%= report.corona_positive %></td>
                  <td class="border px-4 py-2"><%= report.cured_discharged %></td>
                  <td class="border px-4 py-2"><%= report.deaths %></td>
                </tr>
                <% end %>
                <tr>
                  <td class="border font-semibold px-4 py-2">Total</td>
                  <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:corona_positive).sum %></td>
                  <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:cured_discharged).sum %></td>
                  <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:deaths).sum %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  <div class="max-w-3xl mx-auto mt-4">-->
<!--    <div class="flex flex-wrap md:-mx-3 pt-2">-->
<!--      <a href="/volunteers/signup" class="w-full md:w-1/2 p-4">-->
<!--        <div class="p-4 border-2 border-red-800 rounded-lg bg-red-100 px-4 py-6 md:px-6 rounded shadow">-->
<!--          <div class="font-semibold text-md md:text-3xl">-->
<!--            Apply Now-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a href="/users/sign_in" class="w-full md:w-1/2 p-4">-->
<!--        <div class="p-4 border-2 border-green-800 rounded-lg bg-green-100 px-4 py-6 md:px-6 rounded shadow">-->
<!--          <div class="font-semibold text-md md:text-3xl">-->
<!--            Login-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->