<div class="max-w-3xl mx-auto">
  <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
    <% if current_user.present? %>
      You are rakshaka no: <%= current_user.volunteer&.id %>
    <% else %>
      Volunteer Call
    <% end %>
  </div>
</div>

<%
  @districts ||= District.includes(:reports).all
  @district_reports ||= District.includes(:reports).all.map { |d| d.reports.order(:created_at).last }
%>
<div class="max-w-3xl mx-auto">
  <div class="mt-4">
    <div>
      <div class="w-full p-4">
        <div class="p-4 border-2 border-purple-800 rounded-lg bg-purple-200 px-4 py-6 md:px-6 rounded shadow">
          <a id="bodhi" class="font-semibold text-md md:text-3xl">
            Elderly Aid or Help
          </a>
          <div class="text-md md:text-lg">
            <p class="mt-4">
              There is a lot of elderly population in Kerala who live alone and would need help in procuring essential
              goods and medicines for their daily use during this time of epidemic as they are comparatively more prone
              to the virus attack when exposed. Please apply below if you are interested to volunteer to take up their
              order from a call centre, one each in a city and deliver them what they need.
            </p>
          </div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfaHZDzx6GhIr9kAne8cmsc6OWpx9mL5HDTeqayboqJ0g_StA/viewform?usp=sf_link" target="_blank" class="btn-primary btn mt-4 ">Apply
            Now
          </a>
        </div>
      </div>
      <div class="w-full p-4">
        <div class="p-4 border-2 border-blue-800 rounded-lg bg-blue-200 px-4 py-6 md:px-6 rounded shadow">
          <a id="bodhi" class="font-semibold text-md md:text-3xl">
            Volunteer Data Scientist
          </a>
          <div class="text-md md:text-lg">
            <p class="mt-4">
              State Disaster Management Authority (SDMA) invites application for Data Science volunteers with expertise
              in below-mentioned areas: <br><br>
              What you will do:<br>
              1. Mathematical modelling of the epidemic curve for COVID-19 outbreak<br>
              2. Data Analysis, Capacity Planning<br>
              3. Bayesian Statistics<br>
              4. Previously worked on "what if" analysis<br>
              5. Clustering and segmentation<br>
              6. Proficiency in R/Python and Pandas/SQL<br>
              7. Data Wrangling: Should be able to clean data and parse data from documents<br>
              <br><br>
              You will enjoy this position if you<br>
              1. Have the courage and genuine curiosity to learn new modelling techniques and be part of a select<br>
              like-minded individuals<br>
              2. Want to play detective finding clues from data<br>
              3. Want to work on a reallife-realtime data science project<br>
              4. Enjoy summarising your findings with actionable insights<br>
              <br><br>
              We encourage applications from candidates with diverse backgrounds, experiences, and identities.
            </p>
          </div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJ-uuiDwLJUCyOAZhqSu9nd-aQdLIcutC4o1RnLQ5b7DNhSw/viewform" target="_blank" class="btn-primary btn mt-4 ">Apply
            Now
          </a>
        </div>
      </div>
      <div class="w-full p-4">
        <div class="p-4 border-2 border-yellow-800 rounded-lg bg-yellow-200 px-4 py-6 md:px-6 rounded shadow">
          <div class="font-semibold text-md md:text-3xl">
            Data Sanitisation for State Disaster Management Authority (SDMA)
          </div>
          <div class="text-md md:text-lg">
            <p class="mt-4">
              Data Sanitisation   for State Disaster Management Authority (SDMA) has extensive
              data-sets on Patient Data, Hospital Data, Foreign Travel data of people who have visited Kerala and such
              data sets.  The SDMA urgently requires volunteers who can support in sanitising the data available in
              Excel files or PDF’s to be stored into a single master database.  This master database can then be given
              to Data Scientists who can help SDMA in Resource and Capacity Planning.  The skills required for this
              volunteering job are proficiency in Microsoft Excel. The Volunteer should have a laptop with internet
              connection. As the information is of sensitive nature, the volunteer has to work out of the SDMA Head
              Quarters in Trivandrum. (sdma.kerala.gov.in)  Please apply below if you are interested.
            </p>
          </div>
          <a href="https://docs.google.com/forms/d/1nex6rS3sNUA9WqfLZySM8KaKKwgeAl3F_S38BxI9VGM/" target="_blank" class="btn-primary btn mt-4 ">Apply
            Now
          </a>
        </div>
      </div>
      <div class="w-full p-4">
        <div class="p-4 border-2 border-green-800 rounded-lg bg-green-200 px-4 py-6 md:px-6 rounded shadow">
          <div class="font-semibold text-md md:text-3xl">
            Call For Medical Volunteers
          </div>
          <div class="text-md md:text-lg">
            <p class="mt-4">
              The state of kerala has taken effective steps against the COVID- 19 pandemic. The efforts to break the
              transmission chain of the virus is possible with support of the community . The Department of Health and
              Family welfare calls out for participation of the health practitioners to join hands with the state in the
              fight against COVID-19 . You may enroll using the link provided below for offering voluntary service at
              the Isolation facilities in hospitals/ homes, patient management in wards, screening at airports,
              seaports, railway stations and bus stations. Interested health practitioners may fill up the details in
              this form and submit. The Department of health and family welfare, kerala shall contact you soon.
            </p>
          </div>
          <a href="https://forms.gle/3FtcS7ovp1YGG9539" target="_blank" class="btn-primary btn mt-4 ">Apply
            Now
          </a>
        </div>
      </div>
      <div class="w-full p-4">
        <div class="p-4 border-2 border-red-800 rounded-lg bg-red-100 px-4 py-6 md:px-6 rounded shadow">
          <div class="font-semibold text-md md:text-3xl">
            Call For Engineering Volunteers
          </div>
          <div class="text-md md:text-lg">
            <p class="mt-4">
              1. CoronaSafe Network is a an open-source public utility designed by a multi-disciplinary team of
              volunteers along with the Government of Kerala
            </p>
            <p class="mt-4">
              2. The goal is to create a volunteer run defence network to protect the healthcare system of a state or
              nation against the corona virus attack.
            </p>
            <p class="mt-4">
              3. There are currently more than 20 applications that are running live which are designed to give the
              Chief Minister’s office and general public live information about Hospital Bed Capacity Utilisation,
              Corona Care Canters Capacity Utilisation, Inventory Management, Volunteer Management, Patient Management,
              Food Management, Ambulance Network and other features.
            </p>
            <p class="mt-4">
              4. We are extremely short on software engineering talent and require immediate and urgent reinforcements
              from the software engineering community to setup the full network and put in on trial run by March 28th,
              2020.  
            </p>
          </div>
          <a href="https://docs.google.com/forms/d/1_ZmCzJzR3RdnP8TQ-SBlvn0SY_vhLZ7r8BQo068BU1Q/viewform?edit_requested=true" target="_blank" class="btn-primary btn mt-4 ">Apply
            Now
          </a>
        </div>
      </div>
    </div>
    <!--      <div>-->
    <%#= bar_chart District.includes(:reports).all.map { |d| {name: d.name, report: d.reports.last.total_hospitalised }
    } %>
    <!--      </div>-->
    <div class="p-6">
      <div class="text-2xl md:text-5xl font-semibold px-4 md:px-0">
        Current Status In Kerala
      </div>
      <div class="font-bold text-xl">
        Here is the current live situation of our state's Health care system
      </div>
      <div class="font-semibold text-xl my-4">
        Details of persons under surveillance
      </div>
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
            <tr class="white border">
              <th class="border px-4 py-2">No</th>
              <th class="border px-4 py-2">District</th>
              <th class="border px-4 py-2">Total people under observation</th>
              <th class="border px-4 py-2">People under Home Isolation</th>
              <th class="border px-4 py-2">people Hospitalised</th>
              <th class="border px-4 py-2">Total people Hospitalised Today</th>
            </tr>
            </thead>
            <tbody>
            <% @districts.each_with_index do |district, index| %>
            <% report = district.reports.order(:created_at).last %>
            <tr>
              <td class="border px-4 py-2"><%= index + 1 %></td>
              <td class="border px-4 py-2"><%= district.name %></td>
              <td class="border px-4 py-2"><%= report.under_observation %></td>
              <td class="border px-4 py-2"><%= report.under_home_isolation %></td>
              <td class="border px-4 py-2"><%= report.total_hospitalised %></td>
              <td class="border px-4 py-2"><%= report.hospitalised_today %></td>
            </tr>
            <% end %>
            <tr>
              <td class="border font-semibold px-4 py-2"></td>
              <td class="border font-semibold px-4 py-2">Total</td>
              <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:under_observation).sum %></td>
              <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:under_home_isolation).sum %></td>
              <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:total_hospitalised).sum %></td>
              <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:hospitalised_today).sum %></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="mt-4">
        <div class="font-semibold text-xl my-4">
          Chronology of Positive Cases
        </div>
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full">
              <thead>
              <tr class="white border">
                <th class="border px-4 py-2">District</th>
                <th class="border px-4 py-2">Corona Positive</th>
                <th class="border px-4 py-2">Cured / Discharged</th>
                <th class="border px-4 py-2">Deaths</th>
              </tr>
              </thead>
              <tbody>
              <% @districts.each do |district| %>
              <% report = district.reports.order(:created_at).last %>
              <% next if report.corona_positive.zero? %>
              <tr>
                <td class="border px-4 py-2"><%= district.name %></td>
                <td class="border px-4 py-2"><%= report.corona_positive %></td>
                <td class="border px-4 py-2"><%= report.cured_discharged %></td>
                <td class="border px-4 py-2"><%= report.deaths %></td>
              </tr>
              <% end %>
              <tr>
                <td class="border font-semibold px-4 py-2">Total</td>
                <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:corona_positive).sum %></td>
                <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:cured_discharged).sum %></td>
                <td class="border font-semibold px-4 py-2"><%= @district_reports.pluck(:deaths).sum %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  <div class="max-w-3xl mx-auto mt-4">-->
<!--    <div class="flex flex-wrap md:-mx-3 pt-2">-->
<!--      <a href="/volunteers/signup" class="w-full md:w-1/2 p-4">-->
<!--        <div class="p-4 border-2 border-red-800 rounded-lg bg-red-100 px-4 py-6 md:px-6 rounded shadow">-->
<!--          <div class="font-semibold text-md md:text-3xl">-->
<!--            Apply Now-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a href="/users/sign_in" class="w-full md:w-1/2 p-4">-->
<!--        <div class="p-4 border-2 border-green-800 rounded-lg bg-green-100 px-4 py-6 md:px-6 rounded shadow">-->
<!--          <div class="font-semibold text-md md:text-3xl">-->
<!--            Login-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
