<div class="max-w-5xl mx-auto">
  <div class="mx-auto w-full max-w-fc mt-10">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "tracking-wide text-sm font-semibold mr-6" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full bg-white border border-gray-400 rounded py-3 px-4 mt-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "tracking-wide text-sm font-semibold mr-6" %><br/>
        <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none block w-full bg-white border border-gray-400 rounded py-3 px-4 mt-2 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "mt-4 btn btn-primary w-full text-white font-bold py-3 px-6 shadow rounded focus:outline-none" %>
      </div>
    <% end %>
  </div>
</div>
<%#= render "devise/shared/links" %>
